.searchBar-booking {
    position: sticky;
    z-index: 122;
    top: 55.98px;

    @include md-width {
        top: 71.97px;
    }

    .dropdown {
        width: 33.33%;
        height: 33px;

        @include md-width {
            width: 26.08%;
            height: 100%;
            background: #ffffff;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        @include lg-width {
            width: 28.15%;
        }
    }

    .searchBtn {
        height: 100%;
        padding: 16px 32px;
    }
}

.sidebar {
    h2 {
        text-align: center;

        @include md-width {
            text-align: left;
        }
    }

    button {
        height: 49px;
    }
}

.showFilter {
    padding-top: 0 !important;
    width: 100%;
    height: max-content;
    top: 0;
    left: 0;
    display: block !important;
    position: absolute;
    z-index: 6;

}

.stars .material-icons {
    line-height: 1.4 !important;
}

.bg-lg-mainBg {
    @include lg-width {
        background: $mainbg !important;
    }
}

.min,
.max {
    @include lg-width {
        width: 141px;
    }
}

.lh-54 {
    line-height: 54px;
}

.rooms {
    padding-top: 8px;

    @include md-width {
        padding-top: 31px;
    }
}

.sort {
    width: max-content;
}

.rooms .card {
    border: none;
    border-bottom: 4px solid $mainbg;

    &:last-child {
        border: none;
        padding-bottom: 0;
    }

    &:nth-child(2) {
        padding-top: 0;
    }

    @include md-width {
        border-bottom: 1px solid $mainbg;
        padding-bottom: 16px;
        padding-top: 16px;
    }

    @include lg-width {
        height: 175px;
        padding-top: 24px;
        padding-bottom: 24px;
        box-sizing: content-box;
    }

    img {
        width: 150px;
        height: 150px;
        object-fit: cover;

        @include md-width {
            border-radius: 8px 0px 0px 8px;
        }

        @include lg-width {
            width: 255px;
            height: 175px;
        }
    }
}

.points {
    line-height: 18px;

    @include md-width {
        line-height: unset;
    }

    @include lg-width {
        line-height: 21px;
    }
}

.commentStars {
    line-height: 15px;
}

.mainContent .page-link,
.mainContent nav .btn {
    width: 40px;
    height: 40px;

    @include lg-width {
        width: 38px;
        height: 38px;
    }
}

.lg-btn {
    width: unset !important;
    height: unset !important;
    line-height: 23px;
}

.mainContentSubscribe {
    input:first-child {
        padding: 16px 0 18px 21px;

        @include md-width {
            width: 300px;
        }

        @include lg-width {
            width: 379px;
        }

        @include xl-width {
            width: 484px;
        }
    }

    input:last-child {
        padding: 16px 17px;

        @include md-width {
            width: 150px;
        }

    }
}

// range input
.middle {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.slider {
    position: relative;
    z-index: 1;
    height: 4px;
}

.slider>.track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #c6aee7;
}

.slider>.range {
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #6C51E2;
}

.slider>.thumb {
    position: absolute;
    z-index: 3;
    width: 10px;
    height: 10px;
    background-color: #6C51E2;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(98, 0, 238, .1);
    transition: box-shadow .3s ease-in-out;
}

.slider>.thumb.left {
    left: 25%;
    transform: translate(-5px, -3px);
}

.slider>.thumb.right {
    right: 25%;
    transform: translate(5px, -3px);
}

.slider>.thumb.hover {
    box-shadow: 0 0 0 5px rgba(98, 0, 238, .1);
}

.slider>.thumb.active {
    box-shadow: 0 0 0 10px rgba(98, 0, 238, .2);
}

input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
}

input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 10px;
    height: 10px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    -webkit-appearance: none;
}