.loginBg {
    height: 100vh;
    background: url("../images/20.jpg") center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
}

.login {

    input[type="email"],
    input[type="password"] {
        height: 56px;
    }

    input[type="checkbox"] {
        margin-bottom: 2rem;
    }
}