.loginBg {
    height: 100vh;
    background: url("../images/20.jpg") center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
}

.login {
    padding-top: 24px;

    input[type="email"],
    input[type="password"] {
        height: 56px;
    }

    input[type="checkbox"] {
        margin-bottom: 2rem;
    }

    @include lg-width {
        padding-top: 105px;
    }
}

.absolute-bottom-24 {
    position: absolute;
    bottom: 24px;
}