img {
    max-width: 100%;
    height: auto;
    display: block;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

.material-icons {
    cursor: pointer;
}

// font-family
.openSans {
    font-family: 'Open Sans', sans-serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

//font-weight
.bold {
    font-weight: bold;
}

//font-size
.fz14 {
    font-size: 14px;
}

.fz-md-3 {
    @include md-width {
        font-size: 3rem !important;
    }
}

//line-height

.lh-3 {
    line-height: 3rem;
}

.lh-md-4 {
    @include md-width {
        line-height: 4rem;
    }
}

//color

.mainColor {
    color: #000000DE;
}

.minorColor {
    color: #00000099;
}

//width
.w-md-50 {
    @include md-width {
        width: 50% !important;
    }
}

//others

.object-fit-cover {
    object-fit: cover;
}