.swiperImg {
    object-fit: cover;
    width: 240px;
    height: 164px;

    @include md-width {
        width: 270px;
        height: 185px;
    }

    @include lg-width {
        width: 255px;
        height: 175px;
    }
}